.bg1 {
  /* The image used */
  background-image: url("../img/comida1.jpg"); 

  /* Full height */
  height: 100%;
  margin-right: -15px; 
  margin-left: -15px;  
  opacity: 0.3;
 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg2 {
    /* The image used */
    background-image: url("../img/comida2.jpg"); 
  
    /* Full height */
    height: 100%;
    margin-right: -15px; 
    margin-left: -15px;  
    opacity: 0.3;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bg3 {
    /* The image used */
    background-image: url("../img/comida3.jpg"); 
  
    /* Full height */
    height: 100%;
    margin-right: -15px; 
    margin-left: -15px;  
    opacity: 0.3;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bg4 {
    /* The image used */
    background-image: url("../img/comida4.jpg"); 
  
    /* Full height */
    height: 100%;
    margin-right: -15px; 
    margin-left: -15px;  
    opacity: 0.3;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bg5 {
    /* The image used */
    background-image: url("../img/comida5.jpg"); 
  
    /* Full height */
    height: 100%;
    margin-right: -15px; 
    margin-left: -15px;  
    opacity: 0.3;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .col-sm-6{
    padding: 0%;
    margin: 0%;
    height: 500px;
}
.col-sm-12{
    padding: 0%;
    margin: 0%;
    height: 500px;
}
.bg5:hover ,.bg4:hover ,.bg3:hover ,.bg2:hover ,.bg1:hover
{
opacity:1.0;}