@charset "utf-8";
.bg1 {
 
  background-image: url("../img/comida1.jpg"); 

  
  height: 100%;
  margin-right: -15px; 
  margin-left: -15px;  
  opacity: 0.7;
 

 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg2 {
   
    background-image: url("../img/comida2.jpg"); 
  
    
    height: 100%;
    margin-right: -15px; 
    margin-left: -15px;  
    opacity: 0.7;
  
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bg3 {
    
    background-image: url("../img/comida3.jpg"); 
  
    
    height: 100%;
    margin-right: -15px; 
    margin-left: -15px;  
    opacity: 0.7;
  
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bg4 {
    
    background-image: url("../img/comida4.jpg"); 
  
   
    height: 100%;
    margin-right: -15px; 
    margin-left: -15px;  
    opacity: 0.7;
  
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bg5 {
 
    background-image: url("../img/comida5.jpg"); 
  
   
    height: 100%;
    margin-right: -15px; 
    margin-left: -15px;  
   
  
 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .col-sm-6{
    padding: 0%;
    margin: 0%;
    height: 500px;
}
.col-sm-12{
    padding: 0%;
    margin: 0%;
    height: 500px;
}
@keyframes opac{
  0% {
    opacity: 0.7;
  }
        100% {
   opacity: 1;
  }
}
.opac:hover{
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-name: opac;
}